body{
    background-color: #f7f7f7;
    height: 100vh;
}

.section{
    background-color: burlywood;
    width: 60wv;
    min-width: 350px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
}

.container{
    display: flex;
    flex-flow: column-reverse;
    justify-content: baseline;
    align-items: center;
}
.github-link{
    color: white;
    background-color: burlywood;
    padding: 10px;
    border-radius: 1000px;
}

.Profile-Image{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}